/* Color Scheme:
 Light Grey: #F2F2F2
 darker grey: #B8B8B8
 light blue: #187FCF
 pink: #A51F91
 teal: #17658A
 purple: #480A8F
 red: #7D103C
  */


/* global */

.err {
    color: red;
    display: none;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

/* styles for mobile devices */
@media screen and (max-width: 480px){



}