/* Color Scheme:
 Light Grey: #D1CDD1
 darker grey: #A7A0A7
 Teal: #0EA292
 Purple: #7A3B69
 Eggplant: #563440
 Smokey black: #191308
  */


/* global */
* {
    box-sizing: border-box;
}

.err {
    color: red;
    display: none;
}

/* index styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}


/* canvas styles */
body.canvas {
    background-color: #D1CDD1;
}

#canvasContainer {
    width: 600px;
    height: 600px;
    margin: auto auto ;
}

#reactiveCanvasGrid {
    display: grid;
    grid-template-columns: 100fr;
    grid-template-rows: 100fr;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 1rem 5px #A7A0A7;
    border: .5px #A7A0A7 solid;
}

#defaultCanvasGrid {
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 1rem 5px #A7A0A7;
    border: .5px #A7A0A7 solid;
}

.gridPixel {
    margin: 0;
    padding: 10%;
    height: 100%;
    width: 100%;
    border: .25px rgba(167, 160, 167, 0.5) solid;
}
